WORKER_ID=windows-worker
WORKER_HOST=127.0.0.1
WORKER_PORT=9200
WORKER_TOKEN=replace-with-a-random-token-at-least-32-characters
WORKER_ALLOWED_IPS=127.0.0.1
COMFYUI_URL=http://127.0.0.1:8188
COMFYUI_TOKEN=
WORKER_DATA_DIR=./data/windows-worker
WORKER_MODEL_DIR=./models
WORKER_MODEL=
WORKER_TEMPERATURE=0.7
WORKER_CONCURRENCY=1
WORKER_MAX_TEMP_BYTES=107374182400
WORKER_DISK_WARNING_BYTES=10737418240
WORKER_DISK_STOP_BYTES=2147483648
